@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --grey-1: #f2f4f7;
  --grey-3: #d0d5dd;
  --gray-500: rgba(102, 112, 133, 1);
  --blue-700: rgba(23, 92, 211, 1);
  --gray-900: rgba(16, 24, 40, 1);
  --blue-400: #eff8ff;
  --blue-300: #b2ddff;
}
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
}
img {
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}
.hidden {
  display: none;
}
.show {
  display: block !important;
}

body {
  background-color: white;
}
/* -------------------------hero-section-------------------------- */
.hero-section {
  width: 100%;
  height: 95vh;
  background: url(Images/backgroundpattern.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-color: white;
  padding-top: 2.5rem;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  background-color: var(--grey-1);
  border-radius: 2.2rem;
  align-items: center;
  border: 2px solid var(--grey-3);
}
header > *:nth-child(2) {
  flex: 0 0 60%;
}
nav {
  display: flex;
  list-style: none;
  justify-content: center;
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin-top: 0.8rem;
}
ul li {
  margin-right: 3.5rem;
  color: var(--gray-500);
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}
nav .bi {
  font-size: 14px;
  font-family: 600;
  margin-left: 4px;
}
header button {
  padding: 5px 18px;
  border-radius: 1.5rem;
  cursor: pointer;
}
header .sales {
  border: 1px solid var(--grey-3);
  background-color: white;
  font-size: 14px;
}
header .sign-up {
  background-color: var(--blue-700);
  color: white;
  border: none;
  font-size: 14px;
}
.menu-icon {
  display: none;
}
/* media query for header- section */
@media only screen and (max-width: 800px) {
  header {
    align-items: flex-start;
    border: 2px solid var(--grey-3);
    position: relative;
    padding-top: 1.5rem;
  }

  nav {
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 0;
    justify-content: flex-start;
    display: none;
  }
  .header-height {
    height: 270px;
  }
  nav ul {
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin: 0;
  }
  header li {
    margin-bottom: 0.5rem;
    text-align: left;
  }
  .header-action-btn {
    position: absolute;
    bottom: 7%;
    left: 5%;
    display: none;
  }
  header > *:nth-child(2) {
    flex: 0 0 0;
  }
  .menu-icon {
    display: block;
    margin-right: 0.8rem;
  }
  .menu-icon .bi {
    font-size: 25px;
    color: var(--blue-700);
  }
  .show {
    display: block;
  }
  /* media query for hero-content */
  .hero-section {
    height: auto;
  }
  .hero-content-wrapper {
    margin-top: 4rem;
    text-align: center;
    width: 110% !important; /* Set width to 100% */
    height: auto;
  }
  .action-trial {
    margin-bottom: 0.8rem;
  }
  .avatar-gallary {
    width: 100% !important;
    margin-bottom: 0 !important;
  }
  .avatar-img-cont {
    width: 25% !important;
  }
  .avatar-icon-wrapper {
    width: 100%;
  }
}
/* hero-content-wrapper */
.rating {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 1.5rem;
}
.rating-container {
  display: flex;
}
.hero-content-wrapper {
  height: 95vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar-gallary {
  padding: 1.5rem 0.7rem 0.5rem 1.5rem;
  background-color: var(--blue-400);
  border: 1px solid var(--blue-300);
  border-radius: 0.8rem;
  box-shadow: 0px 0px 12px 1px #10182824;
  width: 80%;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero-content-wrapper h1 {
  color: var(--gray-900);
  font-weight: 700;
  font-size: 45px;
}
.hero-content-wrapper p {
  font-size: 19px;
  color: var(--gray-500);
}
.action-trial {
  color: white;
  background-color: var(--blue-700);
  border: none;
  border-radius: 2rem;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  font-size: 14px;
  margin-right: 5px;
}
.action-ai {
  border: none;
  color: var(--blue-700, #175cd3);
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
}
.action-ai .bi {
  font-size: 18px;
  margin-right: 10px;
  color: var(--blue-700, #175cd3);
}
.rating-container {
  margin-top: 2rem;
}
.rating .bi {
  color: rgb(253, 176, 34);
  font-size: 14px;
}
.rating-span {
  font-size: 14px;
}
.avatar-img-cont {
  border-radius: 0.8rem;
  width: 30%;
  /* margin-right: 1.5rem; */
}
.avatar-img-wrapper-1 {
  background-color: #ff9c66;
}
.avatar-img-wrapper-2 {
  background-color: #d6bbfb;
}
.avatar-img-wrapper-3 {
  background-color: #acdc79;
}
.avatar-img-wrapper-4 {
  background-color: #b3b8db;
}
.avatar-img-wrapper-5 {
  background-color: #fec84b;
}
.avatar-img-wrapper-6 {
  background-color: #fea3b4;
}
.avatar-icon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.avatar-icon-box {
  margin-right: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid var(--blue-300);
}
.avatar-icon-box .bi {
  color: #175cd3;
  font-weight: 900;
}

/* -------------------------hero-section-------------------------- */

/* -------------------------brand-company-section-------------------------- */
.logo-brand-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 3rem 0;
}
.logo-brand-wrapper img {
  width: 40px;
}
.shoppify {
  display: flex;
}
.shoppify h3 {
  font-style: italic;
  font-weight: bold;
  color: black;
}
.coinbase h1 {
  color: blue;
}
.intercom {
  display: flex;
}
.intercom h3 {
  margin-left: 0.8rem;
  color: black;
}
.drop-img {
  width: 200px !important;
}

.marvel img {
  width: 80px;
}
.automatic img {
  width: 28px;
}
@media only screen and (max-width: 800px) {
  .brand-company {
    margin-top: 20rem;
  }
  .logo-brand-wrapper {
    flex-wrap: wrap;
    margin: 0.8rem 0 2rem 0;
  }
}

/* -------------------------brand-company-section-------------------------- */
/* -------------------------why-choose-section-------------------------- */
.intro-heading span {
  color: blue;
  font-size: 13px;
  margin-bottom: 0.8rem;
}
.intro-heading h2 {
  padding: 0.7rem 0rem;
}
.intro-heading {
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.choose-us-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid var(--blue-300);
  box-shadow: 0 0 3px 2px #10182824;
  margin-bottom: 1rem;
}
.choose-us-icon-box .bi {
  color: #175cd3;
  font-weight: 900;
  font-size: 22px;
}
.choose-us-wrapper p {
  margin-top: 0.5rem;
  font-size: 12px;
}
.why-choose-us img {
  height: 60%;
  width: 100%;
}
.why-choose-us-img-wrapper {
  position: relative;
}
.img-arrow {
  position: absolute;
  top: -40%;
  left: 30%;
  width: 170px !important;
}
@media only screen and (max-width: 800px) {
  .intro-heading {
    text-align: center;
  }
  .why-choose-us img {
    height: 100%;
  }
  .img-arrow {
    display: none;
  }
}
/* -------------------------why-choose-section-------------------------- */
/* -------------------------testimonial-section-------------------------- */
.testimonial {
  background-color: var(--grey-1);
  padding: 3rem 0rem;
}
.testimonial .shoppify img {
  width: 35px;
}
.testimonial .shoppify {
  margin-bottom: 0.6rem;
}
.testimonial h4 {
  margin: 1.8rem 0rem;
}
.testimonial-box {
  display: flex;
}
.testimonial-box img {
  margin-right: 1rem;
  width: 60px;
}
.testimonial-box h5 {
  font-size: 15px;
  font-weight: 700;
  margin-top: 1.2rem;
}
.testimonial-box p {
  font-size: 12px;
}
.testimonial-slider {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 3rem;
}
.btn-slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid var(--blue-300);
  box-shadow: 0 0 3px 2px #10182824;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-top: 1.5rem;
}
.btn-slider-wrapper .bi {
  color: #175cd3;
  font-weight: 900;
  font-size: 22px;
}
@media only screen and (max-width: 800px) {
  .testimonial-slider {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .testimonial-box h5 {
    margin-top: 0.8rem;
  }
}
/* -------------------------testimonial-section-------------------------- */
/* -------------------------FAQ-section-------------------------- */
.question {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 1.5rem 0.7rem;
}
.active-faq {
  background-color: rgb(215, 215, 215);
  border-radius: 8px;
  padding: 1rem !important;
  border: none;
}
.active-faq p {
  font-size: 13px;
  margin-top: 1rem;
  padding: 1rem;
}
.question h6 {
  font-weight: 800;
}
.question .bi {
  font-size: 22px;
  font-weight: 900;
  color: rgb(128, 116, 116);
}
/* -------------------------FAQ-section-------------------------- */
/* -------------------------action-section-------------------------- */
.check-list {
  display: flex;
  /* margin-bottom: 2px; */
}
.check-list img {
  width: 25px;
  margin-right: 8px;
}
.action-section {
  padding: 3rem 0rem;
}
.action-section h1 {
  margin-bottom: 2.5rem;
  font-weight: 600;
}
.action-section button {
  padding: 11px 22px;
  border-radius: 1.5rem;
  cursor: pointer;
  margin-top: 2rem;
}
.action-sales {
  border: 1px solid var(--blue-700);
  background-color: white;
  font-size: 14px;
}
.action-sign-up {
  background-color: var(--blue-700);
  color: white;
  border: none;
  font-size: 14px;
}
.action-img-container {
  position: relative;
}

@media only screen and (min-width: 800px) {
  .action-img-container img {
    position: absolute;
    right: -20%;
    top: 0;
  }
}

/* -------------------------action-section-------------------------- */
/* -------------------------footer-section-------------------------- */

/* footer {
  margin-bottom: 3rem;
} */
.row-1 img {
  width: 145px;
  margin-bottom: 2.3rem;
  padding: 0;
  height: 25px;
}
footer p {
  color: #667085;
  font-size: 15px;
}
.row-2 a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 14px;
  margin-right: 5px;
}
.row-2 a:hover {
  color: #667085;
}
.row-3 span {
  color: var(--blue-700);
}
.row-3 img {
  width: 120px;
  cursor: pointer;
}
.row-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* --------footer--bottom--------- */
.footer-bottom {
  padding: 1rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom-container {
  background-color: var(--grey-1);
  margin-top: 3rem;
}
.footer-icon-wrapper .bi {
  color: #667085;
  background-color: transparent;
  margin-right: 0.6rem;
}
.row-2 {
  display: flex;
  flex-direction: column;
}
.footer-icon-wrapper {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  footer {
    text-align: center;
  }
  .row-2 {
    display: flex;
    flex-direction: column;
  }
  .row-2 a {
    margin-bottom: 5px;
  }
  .row-3 {
    display: flex;
    flex-direction: column;
  }
  .row-3 img {
    margin-bottom: 5px;
  }
  .footer-bottom {
    flex-direction: column;
  }
}
/* -------------------------footer-section-------------------------- */
